### Android ###

# Built application files
*.apk
*.aab
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Built intermediate files
/build/
/app/build/

# Gradle files
.gradle/
/captures/
.DS_Store
local.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Keystore files (VERY IMPORTANT!)
*.jks
*.keystore

# Google Services (if you want to manage it manually per-developer)
# google-services.json

# Proguard mapping files
*.pro
/proguard/

# Log files
*.log

# Caching files
.pre-dexed/

# Other
/release/
/app/release/